<div class="row">
    <div class="col m6 offset-m3 center">
    
        <h5>Change your password</h5>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render partial: "shared/devisemes" %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New password" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, :placeholder => "Confirm new password", autocomplete: "off" %>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Change my password</button>
        <% end %>
      </div>
</div>