<div class="row">
    <div class="col m6 offset-m3 center">

      <h5>Forgot your password?</h5>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render partial: "shared/devisemes" %>

        <div class="input-field">
          <%= f.email_field :email, :id =>"email", autofocus: true, :placeholder => "Email" %>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Send me reset password instructions</button>
      <% end %>
    </div>
</div>