<h2>About</h2>


  <div class="card z-depth-3">
    <div class="card-content white-text">
      <div class="row">
        <div class="col m6">
          <div class="card-panel teal lighten-1 z-depth-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Alias sit accusamus veritatis, eveniet vel laboriosam 
                    nemo harum reprehenderit. Laborum labore exercitationem 
                    beatae enim iste reprehenderit incidunt dolor architecto 
                    necessitatibus facere!
          </div>
        </div>

        <div class="col m6">
          <div class="card-panel teal lighten-1 z-depth-1">
            <div class="row">
              <div class="col m3">
                 <%= image_tag  "kolya.jpg", class: "circle responsive-img" %>
              </div>

              <div class="col m9">
                <span class="white-text">
                  <h5>kolya</h5>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Alias sit accusamus veritatis, eveniet vel laboriosam 
                    nemo harum reprehenderit. Laborum labore exercitationem 
                    beatae enim iste reprehenderit incidunt dolor architecto 
                    necessitatibus facere!
                  </span>
                </div>
              </div>
            </div>
         </div>
  
     </div>
    </div>
  </div>