 @import "materialize";
 @import "toastr";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";


 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    